packages/Microsoft*
PickMeAppGlobal/bin/*
PickMeAppGlobal/obj/*
packages/jQuery*
packages/EntityFramework*
*.dll
*.pdb
*/obj/*
*.nupkg
packages/*/*
*/bin/*
_ReSharperPlatformVs121.PickMeAppGlobal/*
_ReSharperPlatform*
PickMeUpMobile/bld/Debug/*
PickMeUpMobile/bld/Ripple/*
